@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
    padding: 10px;
    font-size: 14px;
    color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 600px;
    background-color: var(--white);
    border-radius: 16px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;

}

.image-desktop {
    width: 50%;
    display: block !important;
}

.image-smartphone {
    display: none !important;
}

.container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space_between;
}

.perfume {
    color: var(--dark-grayish-blue);
    font-size: 12px;
}

 .title {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-blue);
    font-size: 32px;
    line-height: 32px;
    margin-right: 35px;
 }

 .description {
    line-height: 1.4rem;

 }

.price {
    display: flex;
    flex-direction: row;
   align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

 .discount-price {
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
    font-size: 32px;
    margin-right: 28px
 }

 .original-price {
    text-decoration: line-through;
 }

 button {
    width: 100%;
    background-color: var(--dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
 }

 button:hover {
    background-color: hsl(158, 36%, 25%);
 }

 @media only screen and (max-width: 375px) {
    .image-desktop {
        display: none !important;
    }
    .image-smartphone {
        display: block !important;
        max-width: 100%;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
 }